.jsoneditor-outer.has-main-menu-bar.has-status-bar{
    height: 70vh;
}

.alert {
  padding: .375rem .75rem;
  margin-bottom: 0;
}

ul.list-inline > li  {
  margin-right: 0.5rem !important;
  display: inline-block !important;
}

